<!-- TODO: -->
<% layout('layouts/boilerplate')%>
  <h1 class="Display-1 bg-primary text-white rounded-pill text-center">HOME</h1>
  <div id="mcard" class="container">
  <% for (let card of cards){%>
  <nav id="links" class="card container-fluid">
            <div class="card-body">
                <h2 class="h2 card-title text-primary text-center"><%= card.title %></h2>
                <p class="card-text text-center">
                    <%= card.body %>
                </p> 

                <ul class="list-group  text-center">
                  <% for (i=0; i<card.list.length; i++){%>
                      <li class="list-group-item"><%= card.list[i] %></li>
                  <%}%>
                </ul>
                <a class="btn btn-outline-primary" href="<%=card.link%>"><%=card.linkT%></a>
                <a class="btn btn-primary" id='editButt' href="/edit/<%= card._id %>">Edit</a>
            </div>
        </nav>
  <% }%>
  </div>
  <button class="btn btn-primary" id='addCard'>Add Card</button>
  <a class="btn btn-primary btn-sm" href="/">Exit Edit Mode</a>

<script src="new.js"></script>

